.header {
    min-height: 100vh;
    background: url(../img/bgHeader.jpg) no-repeat;
    
}

.header__container {
  margin: 0 auto;
    
}

.header__block {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo__block {
    display: flex;
    justify-content: start;
    align-items: center;
    
}

.logo {  
    width: 30px;
    height: 30px;
    margin-right: 20px;
}
.logo__text {
    font-size: 18px;
    color: $mainColor;
    text-decoration: none;
}

.menu {
    display: flex;
    align-items: center;
}
.menu-item {
    list-style-type: none;
    margin-right: 50px;
    :last-child {
        margin-right: 0;
    }
}

.menu-link {
    font-size: 13px;
    color: $mainColor;
    font-family: $fontFamily;
    text-decoration: none;
}
.btn__getproject {
    display: block;
    border: 1px solid #fff;
    padding: 12px 15px;
    border-radius: 4px;
}
.btn__getproject:hover {
    background-color: #fff;
    color: $GrayColor;
    transition: 0.5s;
}

.title__block {
    max-width: 430px;
    margin-top: 140px;
    margin-left: 50px;
    padding-bottom: 50px;
}
.header__title {
    font-size: 42px;
    line-height: 50px;
    margin-bottom: 35px;
}
.header__subtitle {
    font-size: 14px;
    line-height: 30px;
    margin-bottom: 35px;
}

.btn__work {
    font-size: 15px;
    line-height: 30px;
    
}

.develop {
    background-color: #fff;
    display: flex;
    padding: 96px 40px;
    position: absolute;
    top: 600px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
}
.develop__left {
    border-right: 1px solid #E8E8E8;
    max-width: 400px;
}
.develop__title {
    font-size: 26px;
    line-height: 38px;
    color: #000;
    padding-right: 50px;
    
    
}
.develop__subtitle {
    font-size: 16px;
    line-height: 30px;
    color: $GrayColor;
    padding-right: 50px;
    
}
.develop__right {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: -40px;
    margin-right: -40px;
    margin-top: -10px;
}
.develop__ideas {
    font-size: 11px;
    line-height: 30px;  
    color: $GrayColor;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 130px;
    margin-top: 10px;
}


/* ====== burger===== */

.burger-icon {
    position: relative;
    right: 1%;
    cursor: pointer;
    top: 3px;
  }
  
  .burger-nav {
    display: none;
    height: 40px;
    width: 100%;
    background-color: #cccccc;
    background-color: lightgrey;
    padding: 0;
    margin: 0;
    
  }
  
  header .wrapper {
    width: 100%; 
    padding: 0;
    margin: 0;
  }
  
  #nav {
    overflow: hidden;
    background: rgba(192, 190, 190, 0.4);
    height: 0;
    max-height: 0px; 
    list-style-type: none;
    padding-left: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }
  
  #nav.open {
    height: auto;
   max-height: 500px; 
    -webkit-transition: linear 1s;
    transition: linear 1s;
  
  }
  
  #nav li {
    float: none;
    text-align: left;
    text-decoration: none;
    width: 100%; 
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }
  
  #nav li:hover {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  #nav li a {
  text-decoration: none;
    color: white;
    padding: 10px;
    border-bottom: 1px solid white;
    display: block;
    margin: 0;
    -webkit-transition: linear 1s;
    transition: linear 1s;
  }
  
  #contain {
      display: none;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 20px;
  }
  
  .bar1, .bar2, .bar3 {
      width: 35px;
      height: 5px;
      background-color: rgb(250, 241, 241);
      margin: 6px 0;
      transition: 0.2s;
  }
  
  .change .bar1 {
      -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
      transform: rotate(-45deg) translate(-9px, 6px) ;
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
      -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
      transform: rotate(45deg) translate(-8px, -8px) ;
  }
  
  .hover .bar1 {
    background-color: red;
  }
  
  .hover .bar2 {
    background-color: red;
  }
  
  .hover .bar3 {
    background-color: red;
  }
  


@media (max-width: $md2+px) {  
    .menu-item {
        margin-right: 20px;
    }
    .header__title {
        font-size: 36px;       
        margin-bottom: 25px;
        display: flex;
    }
    .header__subtitle {
        font-size: 12px;
        margin-bottom: 25px;
    }

    

    .develop {   
        padding: 96px 40px;
        position: relative;
    }
}

@media (max-width: $md3+px) {
   .logo__text {
       display: none;
   }

   .header__block {
    align-items: start;

    }

   .title__block {
    max-width: 330px;
    margin-top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    }

   .header__title {
        font-size: 26px;       
        margin-bottom: 15px;
    }

    .header__subtitle {
        font-size: 11px;
        margin-bottom: 20px;
    }

    .nav {
        display: none;
    }

    #contain {
        display: inline-block;   
    }
}

