.relationship {
    margin-top: 100px;
}

.relationship__block {
    display: flex;
    max-width: 1140px;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #FAFAFA;
    padding: 50px 100px;
    align-items: center;
    margin-right: -60px;
    margin-left: -60px;
    margin-top: -40px;
    
}
.relationship__item {
    width: 150px;
    margin-right: 60px;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
.relationship__link {
}
.relationship__img {
    
}