.work {
    
}
.work__container {
    background-color: #0E0E33;
    height: 700px;
}
.work__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title__work {
    color: $mainColor;
    padding-top: 150px;
    margin-bottom: 80px;
}
.work__statistic {
    display: flex;
    justify-content: space-around;
    width: 800px;
    padding-bottom: 100px;
}
.work__statistic_item {
    max-width: 140px;
}
.statistic__item_num {
    font-size: 42px;
    line-height: 50px;
}
.statistic__description {
    font-size: 11px;
    line-height: 30px;
}
.work__items {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
    justify-content: center;
    margin-bottom: 50px;

}
.work__item {
    max-width: 500px;
    background-color: #fff;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.05);
}
.work__img_block {
    overflow: hidden;
    margin-bottom: 45px;
}
.work__img {
    width: 100%;
    
}
.work__block_title {
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    margin-bottom: 25px;
    max-width: 400px;
    padding-left: 20px;
}
.work__block_subtitle {
    font-size: 16px;
    line-height: 30px;
    color: $GrayColor;
    max-width: 400px;
    padding-left: 20px;
    padding-bottom: 20px;
    
}
.work__white {
    height: 1100px;
}
.btn__works {
    
}